
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://lh5.googleusercontent.com/h864P8xA0xQJ38u6EHyhwh29iA5RW2POF-KA0Eu7tLwVlfSHzw-bAKQIwZHn8HeZSdNFM-b5M2NYZN4g4sDNSHzUivXXe3arhIQu8W0nDQVuEhmb17g9s7xLNDxaE9ZrFslxt3FwPe2cAeiQC-HeGmg);">
  <div class="container">
    <h1>car Bee&Bee</h1>
    <%= link_to "Rent a car with us, we so cool", cars_path, class: "a-primary"%><br>
       <%= link_to "Propose your car", "/cars/new", class: "a-primary"%>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
