
<div class="home-video-wrapper">
<%= video_tag "homepage1.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  <div class="title-wrapper">
    <h1 class="home"> Welcome to WE CAR 4U </h1>
    <p class="toto">
      <%= link_to "Rent a car with us, we so cool", cars_path %><br>
      <%= link_to "Propose your car", "/cars/new"%>
    </p>
  </div>
</div>
