
<div class="home-video-wrapper">
<%= video_tag "homepage.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
  <div class="title-wrapper">
    <h1 class="home"> Welcome to WE CAR 4U </h1>
    <p class="toto">
      <%= link_to "Rent a car with us, we so cool", cars_path %><br>
      <%= link_to "Propose your car", "/cars/new"%>
    </p>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
